<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="C:/Users/ircfb_klimov/IdeaProjects/A1QA_Tasks">
        <classes>
            <class name="by.a1qa.klimov.tests.integration.JsonplaceholderTypicodeComTest">
                <methods>
                    <include name="testGetAllPots"/>
                    <include name="testGetExistPost"/>
                    <include name="testGetNonExistPost"/>
                    <include name="testPostRequestWithBody"/>
                    <include name="testGetUsers"/>
                    <include name="testGetOneUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>